{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>Login</h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="">Username:</label>                        
                                <input type="text" class="form-control" name="username" placeholder="Enter username">
                            </div><br>

        

                            <div class="form-group">
                                <label for="">Password:</label>&nbsp;
                                <input type="Password" class="form-control" name="password" placeholder="Enter password">
                            </div><br>
                            <button type="submit" class="btn float-end shadow btn-success px-4">Login</button>    
                        </form>                          
                    </div>                        
                </div>                       
            </div>                       
        </div>                       
    </div>                       
</div>                       
                                
{% endblock content %}