{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home/</a>
        <a class="text-white" href="{% url 'checkout' %}">Checkout</a>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-7">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="fw-bold">Basic Details</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Phone</label>
                            <input type="text" class="form-control" placeholder="Enter phone">
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Enter Address">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>City</label>
                            <input type="text" class="form-control" placeholder="Enter City">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>State</label>
                            <input type="text" class="form-control" placeholder="Enter State">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Enter Country">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Pincode</label>
                            <input type="text" class="form-control" placeholder="Enter Pincode">
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="text-center fw-bold">Order Summary</h5>
                    <hr>
                    {% if cartitems %}
                    <table class="table table-stripeds table-bordereds">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in cartitems  %}
                            <tr>
                                <td>
                                    <img src="{{item.product.product_image.url}}" class="me-2" height="50px" weight="50px">
                                    {{item.product.name}}
                                </td>
                                <td>{{item.product_qty}}</td>
                                <td>{{item.product.selling_price |stringformat:'d'}}</td>                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h6 class="fw-bold">Grand Total
                        <span class="float-end">Rs {{total_price |stringformat:'d'}}</span>
                    </h6>    
                    
                    <div class="mt-2">
                        <a href="#" class="btn btn-success w-100" >COD | Place order </a>
                    </div>
                    {% else %}
                    <h4> Your Cart is empty </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}