
{% extends 'store/layouts/main.html' %}

{% block content %}

<style>
    .category_img{
        width: 80%;
        height: 200px;
    }  
</style>

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home/</a>
        <a class="text-white" href="{% url 'collections' %}">collections/</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h2>Collections</h2><hr>
            <div class="row">
                {% for item in category  %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <a href="{% url 'collectionsview' item.slug %}">
                            <div class="card-body shadow">
                                <div class="category-image">
                                    <img src="{{item.image.url}}" alt="category image" class="category_img"/>
                                </div>  
                                <h4>{{item.name}}</h4> 
                            </div> 
                        </a>  
                    </div>   
                </div>    
                {% endfor %}
            </div
        </div
    </div
</div


    {{category}}
{% endblock content %}

